*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-image: linear-gradient(to bottom right, #FDABDD, #374A5A);
     height: 100vh;
}

nav{
     display:flex;
     justify-content: space-between;
     background-color: #E8EBF3;
     color:#374A5A;
}

nav>div>ul{
     display: flex;
     list-style-type: none;

}
nav>div>ul>li>a{
     text-decoration: none;
     padding: 1em;
     display: block;
}

nav>div>ul>li>a:hover{
     background-color: white;
     color:black;
}
.sep{
     display: flex;
     gap: 20px;
}

